* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #EAEBEF;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand img {
  width: 100px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link:focus, .nav-link:hover {
  color: #004aad;
}

.user-menu .btn:hover {
  border: 1px solid #004aad;
}

.user-menu i {
  color: #004aad;
}